
{% extends "template.html" %}
{% block content %}
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/taskss">Your Task</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Python To Do List App</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Create Your Task</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="taskss" role="button">create</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="row">
                <h3 class="text-center">To Do List Aplication</h4>
                <p class="text-center">This is a aplication which allows you to create your own list of tasks.</p>
                <p class="text-center">You can create and browse them. When task is finished you can marked them as completed.
            </div>
 

        </div>

    </div>
{% endblock %}